# Python
venv/
__pycache__/
*.pyc

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
build/
ios/.generated/
android/**/*.iml

# Archivos generados por LaTeX
*.aux
*.log
*.toc
*.lof
*.lot
*.bcf
*.blg
*.run.xml
*.synctex.gz
*.out

# PDF compilado (opcional si no quieres subirlo)
*.pdf
